.main-container {
    width: 100%;
}

.calendarControlPanel {
    display: inline-grid;
    grid-template-columns: 33% 33% 33%;
    height: 15%;
    width: 100%;
    background-color: lightgray;
    text-align: center;
}

.calendarContainer {
    border: 1px solid black;
    display: grid;
    width: 100%;
}

.calendarRow {
    display: inline-grid;
    grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
}

.calendarCellItemList {
    font-size: 9px;
    list-style-type: none;
    /* Remove bullets */
    padding: 0;
    /* Remove padding */
    margin: 0;
    /* Remove margins */
}